* {
    margin: 0;
    padding: 0;
}
.container {
    border: 5px solid #4CAF50;
    margin-bottom: 50px;
}
.item-1 {
    height: 350px;
    padding: 5px;
    overflow: auto;

}
.image {
    height: 340px;
    width: 320px;
    float: left;
    padding: 6px 10px 6px;
}
.image-text {
    padding: 100px 0;

}