body {
    background-color: #e8e8e4;
}
.container {
    border: 5px solid #f8edeb;
    margin-bottom: 50px;
    background-color: #ece4db;
}
.item-1 {
    height: 350px;
    padding: 5px;
    overflow:auto;

}
.image {
    height: 340px;
    width: 320px;
    float: left;
    padding: 6px 10px 6px;
}
.image-text {
    padding: 100px 0;

}
.info {
    height: 200px;
    text-align: center;
    margin-top: 30px;
}