* {
    margin: 0;
    padding: 0;
}
#navbar-start {
    display: inline-block;
    list-style-type: none;
}
.navbar-item {
    font-size: 26px;
}
.navbar-start {
    display: flex;
    flex-grow: 4;
}

.container_custom{
    background-color: #c5dedd;

}
.container {
    
    display: flex;
}